
*{
	margin: 0px;
	padding: 0px;
	font-family: 'Merriweather', serif;
	font-family: 'Oswald', sans-serif;
}
.menu_left 
{   
    letter-spacing: 2px;
	font-size: 17px;
	margin-left: 10px;
}
.menu_right{
	margin-right: 10px;
}
.menu_right li
{
	font-size: 20px;
	letter-spacing: 3px;
}
.badge{
	background-color: #c42303;
	color:#fff;
	margin-left: 5px;
}
.product{
	padding-top: 40px;
}
.head img{
	width: 100%;
	height: 500px;
}
.head p {
	text-align: center;
	color: white;
	opacity:0.9;
	margin-top: -300px;
	font-size: 2.5em;
	letter-spacing: 2px;
}
.head p b{
	background-color: #000;
	opacity: 0.8;
	padding: 10px;
}
ul li{
	list-style-type:none;
}
.content{
	padding-top: 300px;
}
hr {
	margin-bottom: 15px;
}
h6{
	color:#999;
}
.about{
	width: 100%;
	float: right;
	border: #eee 1px solid;
	padding:22px;
	font-size: 1.15em;
	margin-left: 10px;
	height: 378px;
}
.img
{	
	padding-left: 35px;
	width: 280px;
	display: inline-block;
}
.img img{
	width: 350px;
	height: 280px;
}
.img span{
	padding-left: 35px;
    text-align: center; 	
	margin-top: 5px;
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color:#666;
    }
.images img{
	width: 100%;
	height: 240px;
	margin-bottom: 15px;
}

.images span {
	color:#999;
}
.images b {
	padding-right: 30px;
}
.fakeimg img{
	width: 100%;
	height: 250px;
}
.rate p{
	height: 75px;
}
.rate{
	margin-top: 25px;
	height: 410px;
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 15px;
}

.btn-cont{
	color:white;
	background-color: black;
	font-size: 20px;
	padding: 10px;
	margin-top: 30px;
	border: 0px;
}
.banner ul {
    list-style: none outside none;
    padding-left: 0;
    margin-bottom:0;
}
.lightSlider ul li {
    display: block;
    float: left;
    margin-right: 6px;
    cursor:pointer;
}
.banner ul li img {
	display: block;
    height: 550px;
    width: 100%;
}
.lSSlideOuter .lSPager.lSGallery img{
	height: 100px;
	margin: 10px;
	}
footer {
  background: #231f20;
  color: #eee;
  padding-top: 10px;
  margin-top: 50px;
  font-size: 20px;
}
footer a {
  color: #999;
}
footer a:hover {
  color: #ffffff;
  cursor: pointer;
}

footer h3 {
 color: #baa673;
  letter-spacing: 1px;
  margin: 30px 0 20px;
  font-size: 25px;
  font-weight: bold;
}
footer .img-thumbnail {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #444;
  margin-bottom: 5px;
  width: 150px;
  height: 100px;
}
footer .copyright {
  padding: 15px 0;
  background: #333;
  margin-top: 20px;
  font-size: 20px;
}
footer .copyright span {
  color: #baa673;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}
@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}
@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}
@media (min-width: 300px) and (max-width: 480px){
	.menu_left 
	{   
		font-size: 13px;
	}
	.menu_right{
		margin-left: 12px;
	}
	.menu_right li
	{
		font-size: 17px;
	}
	.head img{
		height: 250px;
	}
	.head p {
		margin-top: -150px;
		font-size: 1.5em;
	}
	.content{
	 padding-top: 150px;
	}

	.about{
		margin-top: 15px;
	}
	.images{
		margin-top: 15px;
	}
	.img{
		padding-left: 25px;
	}
	.img span{
		padding-left: 25px;
	}
	
	.lSSlideOuter .lSPager.lSGallery img{
		width: 0px;
		height: 0px;

	}
	.banner ul li img {
	display: block;
    height: 400px;
    width: 100%;
	}
}
@media (min-width: 481px) and (max-width: 768px){
	.menu_left 
	{   
		font-size: 15px;
	}
	.menu_right{
		margin-left: 14px;
	}
	.menu_right li
	{
		font-size: 20px;
	}
	.head img{
		height: 350px;
	}
	.head p {
		margin-top: -200px;
		font-size: 1.5em;
	}
	.content{
	 padding-top: 200px;
	}
	.about{
		margin-top: 30px;
	}
	.images{
		margin-top: 20px;
	}
	.img{
		padding-left: 30px;
	}
	.img span{
		padding-left: 30px;
	}
	.lSSlideOuter .lSPager.lSGallery img{
		width: 0px;
		height: 0px;

	}
	.banner ul li img {
	display: block;
    height: 400px;
    width: 100%;
	}
}